@font-face {
    font-family: "Arial"; 
    src: url("Arial.otf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1d8e0;
}
header{
    height: 100px;
    background-color: #3867d6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#in{
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
.logo{
    height: 70px;
}
.error {
    border: 2px solid red;
}
.url{ 
    color: black;
}
.url:hover {
    color:red;
}
.imgs{
    width: 200px;
    height: 150px;
}
table{
    width: 100%;
}
a:hover{
    color: red;
}
table{
    border: 4px double black;
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: gray; 
}
tr:nth-child(even){
    background-color: #3867d6; 
}
footer{
    height: 100px;
    background-color: #4b6584;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        height: 65px;
        background-color: #3867d6;
    }
    .logo{
        height: 60px;
    }
    footer{
        height: 60px;
    }
    label{
        font-size: medium;
    }
}
